asgiref==3.12.1
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
Django==5.1.2
djangorestframework==3.17.1
gunicorn==26.0.0
h11==0.16.0
idna==3.18
packaging==26.2
psycopg==3.3.4
psycopg-binary==3.3.4
pycryptodome==3.23.0
pycryptodomex==3.23.0
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
uvicorn==0.52.1
whitenoise==6.12.0
